<% include ../public/header %>

<body>

    <% include ../public/nav %>
    <div class="hh-application-wrap">
        <table>
            <thead>
                <tr>
                    <th>应用名称</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0;i < apps.length;i++){ %>
                    <tr>
                        <td><%= apps[i].name %></td>
                        <td><%= apps[i].introduce %></td>
                        <td>
                            <a href="<%= apps[i].src %>" class="hh-btn enter-btn" data-index="<%= apps[i].index %>" >预览</a>
                            <a href="<%= apps[i].github %>" class="hh-btn github-btn">Github</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </div>

    <script type="text/javascript" src="/asset/js/application.js"></script>

<% include ../public/footer %>